<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.alphahinex.bootclasspath.dao.CountryDAO">

    <!--查询单个-->
    <select id="cc" resultType="io.github.alphahinex.bootclasspath.entity.CountryEntity">
        SELECT id, countryname, countrycode
          FROM country
         WHERE countryname like '%b%'
    </select>

</mapper>
